body {
    font-family: 'Arial', sans-serif;
  }
  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  .tagline {
    font-style: italic;
    color: #a16b4c;
    text-align: center;
    margin-top: 10px;
  }
  .headline {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .menu-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
  }
  .menu-details {
    flex-grow: 1;
    margin-left: 15px;
  }
  .menu-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .menu-description {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
  }
  .menu-price-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  .menu-price {
    font-weight: bold;
  }
